
@{
    ViewBag.Title = "AdminLanding";
}

<div style="position:relative;margin-top:30px;">

    <a href="~/Home/Administrator" class="btn btn-primary">Add Question</a>
    <a href="~/Home/AddQuiz"  class="btn btn-primary">Add Quiz</a>
</div>

