
@{
    ViewBag.Title = "Administrator";
}
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<div class="row " style="margin-top:25px;position:relative">
    <button type="button" class="btn btn-primary" onclick="addQuest_1()">Add Question</button>

    <table id="example" class="display" width="100%"></table>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create/Update Question</h4>
                </div>
                <div class="modal-body" id="mdl">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Question</label>
                        <textarea cols="20" class="form-control" id="Question" name="Question" rows="2"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Score</label>
                        <input data-val="true" class="form-control" data-val-number="The field Mark must be a number." data-val-required="The Mark field is required." id="Score" name="Score" type="number" value="">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Duration</label>
                        <input data-val="true" class="form-control" data-val-number="The field Mark must be a number." data-val-required="The Mark field is required." id="Duration" name="Duration" type="number" value="">
                    </div>
                    <div class="form-check">
                        <a colspan="2" onclick="addOption()">Add Option: </a>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="onSubmit()">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    var baseurl = $("#baseurl").val();
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
    function addOption() {
        var tbl = document.getElementById("mdl");
        $(tbl).append('<div class="form-check optbox">' +
                    '<input type="checkbox" class="opt1" /> Is Correct answer <textarea cols="20" class="form-control opt" id="Question" name="Question" rows="2"></textarea>' +
                '</div>');
        //var a = $(tbl)[0].querySelectorAll("tr")
        //$(a[a.length - 2]).next().append("<tr><td></td><td><textArea class='opt'></textArea></td></tr>")
        //$(tbl).append("<tr><td></td><td><textArea class='opt'></textArea></td></tr>");
    }
    function onSubmit() {
        var lst = $(".opt");
        var lst1 = $(".opt1");
        var list = [];
        for (var i = 0; i < lst.length; i++) {
            var id = lst1[i].getAttribute("data");
            if (id) {
                list.push({Id:id, Option: lst[i].value, IsAnswer: lst1[i].checked });
            }
            else {
                list.push({ Option: lst[i].value, IsAnswer: lst1[i].checked });
            }
            if (rowid != -1) {
                list[i].QuestionId = rowid;
            }
        }
        var data = {
            "Description": $("[name='Question']").val(),
            Score: $("[name='Score']").val(),
            Duration: $("[name='Duration']").val(),
            QuestionOptions: list
        };
        var endurl = "add";
        var typ = "POST";
        if (rowid != -1) {
            data.Id = rowid;
            endurl = "update";
            typ = "PUT";
        }
        console.log(data);
        $.ajax({
            type: typ,
            url: baseurl + "api/Questions/" + endurl,
            data: JSON.stringify(data),
            dataType: "json",
            contentType: 'application/json',
            success: function (result) {
                alert("Added Successfully");
                $('#myModal').modal('hide');
                showTable();
            },
            error: function (jqXHR, status, error) {
                //if (onError !== null && onError !== undefined) {
                //    onError(jqXHR, status, error);
                //    $("#" + settings.updateTargetId).html(error);
                //}
            },
            complete: function () {
            }
        });
    }

    function showTable() {
        try{$('#example').DataTable().destroy()}
        catch(e){}
        $.ajax({
            type: "GET",
            url: baseurl + "api/Questions/get",
            data: {},
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                console.log(result);
                $('#example').DataTable({
                    data: result,

                    columns: [
                        //{
                        //    data: "Id", title: "Check",
                        //    render: function (data, type, row, setting) {
                        //        if (type === 'display') {
                        //            console.log(setting.row);
                        //            if (row.isActive) {
                        //                return '<input type="checkbox" checked="checked" onclick="AddQues(\"' + setting.row + '\",this)" class="editor-active">';
                        //            }
                        //            return '<input type="checkbox" onclick="AddQues(\"' + setting.row + '\",this)" class="editor-active">';
                        //        }
                        //        return data;
                        //    },
                        //    className: "dt-body-center"
                        //},
                        { data: "Id", title: "Id", "visible": false },
                        { data: "Description", title: "Question" },
                        { data: "Duration", title: "Duration",width:"30px" },
                        { data: "Score", title: "Score", width: "30px" },
                        {
                            title: "Action",
                            render: function (data, type, row, setting) {
                                var jsn =escape( JSON.stringify(row));
                                return '<a onclick="questEdit(\'' + jsn + '\')">Update</a><a style="padding-left:20px;position:releative" onclick="questDelete(\'' + jsn + '\')">Delete</a>';
                            },
                        },

                    ]
                });

            },
            error: function (jqXHR, status, error) {

            },
            complete: function () {
            }
        });


    }

    showTable();
    var rowid = -1;
    function questEdit(jsn) {
        $("#Question").val('');
        $("#Score").val('');
        $("#Duration").val('');
        
        jsn = unescape(jsn);
        var obj = JSON.parse(jsn);
        rowid = obj.Id;
        $("#Question").val(obj.Description);
        $("#Score").val(obj.Score);
        $("#Duration").val(obj.Duration);
        $(".optbox").remove();
        var tbl = document.getElementById("mdl");
        for (var i = 0; i < obj.QuestionOptions.length; i++) {
            if (obj.QuestionOptions[i].IsAnswer) {
                $(tbl).append('<div class="form-check optbox">' +
                    '<input type="checkbox" class="opt1" checked="checked" data="' + obj.QuestionOptions[i].Id + '"/> Is Correct answer<br/><textarea cols="20" class="form-control opt" id="Question" name="Question" value="' + obj.QuestionOptions[i].Option + '" rows="2">' + obj.QuestionOptions[i].Option + '</textarea>' +
                '</div>');
            }
            else {
                $(tbl).append('<div class="form-check optbox">' +
                    '<input type="checkbox" class="opt1"  data="' + obj.QuestionOptions[i].Id + '"/> Is Correct answer<br/><textarea cols="20" class="form-control opt" id="Question" name="Question"  value="' + obj.QuestionOptions[i].Option + '"  rows="2">' + obj.QuestionOptions[i].Option + '</textarea>' +
                '</div>');
            }            
        }
        
        $('#myModal').modal('show');
    }
    function questDelete(jsn) {
        jsn = unescape(jsn);
        var obj = JSON.parse(jsn);
        console.log(rowid);

        $.ajax({
            type: "DELETE",
            url: baseurl + "api/Questions/" + endurl,
            data: { id: rowid },
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                alert("Added Successfully");
                $('#myModal').modal('show');
            },
            error: function (jqXHR, status, error) {
                //if (onError !== null && onError !== undefined) {
                //    onError(jqXHR, status, error);
                //    $("#" + settings.updateTargetId).html(error);
                //}
            },
            complete: function () {
            }
        });
    }
    function addQuest_1(){
        rowid = -1;
        $("#Question").val('');
        $("#Score").val('');
        $(".optbox").remove();
        $('#myModal').modal('show');
    }
    function addQuest() {
        $("#Question").val('');
        $("#Score").val('');
        $('#myModal').modal('show');
    }
</script>


