@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Home Page";
}

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>

<div class="jumbotron">
    <h1>Multiplayer Quiz</h1>
</div>

<div id="QuizzesDiv" class="row">

</div>

<script type="text/javascript">
    GetAllQuizes();
    function GetAllQuizes() {
        $.ajax({
            url: "https://multiplayerquizapi20190428125331.azurewebsites.net/api/Quiz/get",
            type: 'GET',
            dataType: 'json', // added data type
            success: function (res) {
                for (quiz in res) {
                    var title = res[quiz].Title;
                    var description = res[quiz].Description;
                    var startDate = res[quiz].StartDate;
                    $("#QuizzesDiv").append("<div class=\"col-md-3 col-sm-3 col-xs-3\" style=\"border: 1px dashed gray;margin:10px;\"><b>Quiz Name</b>:" + title + "<br/><b>Description</b>:" + description + "<br><b>Start Date:</b>" + startDate + "<br/><a href =\"#\">Register<a>" + "</b></div>");
                }
            }
        });
    }
</script>