@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Home Page";
}

<style type="text/css">
    .shadow {
        -webkit-box-shadow: 3px 3px 5px 6px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
        -moz-box-shadow: 3px 3px 5px 6px #ccc; /* Firefox 3.5 - 3.6 */
        box-shadow: 3px 3px 5px 6px #ccc; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    }
</style>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>

<div class="jumbotron">
    <h1>Multiplayer Quiz</h1>
</div>

<div id="QuizzesDiv" class="row">

</div>

<script type="text/javascript">
    GetAllQuizes();
    function GetAllQuizes() {
        $.ajax({
            url: "https://multiplayerquizapi20190428125331.azurewebsites.net/api/Quiz/get",
            type: 'GET',
            dataType: 'json', // added data type
            success: function (res) {
                for (quiz in res) {
                    var quizid = res[quiz].Id;
                    var title = res[quiz].Title;
                    var description = res[quiz].Description;
                    var startDate = res[quiz].StartDate;
                    var startQuizLink = "";
                    startQuizLink = "<span id=\"" + "Start_" + quizid + "\"></span>";
                    IsUserRegisteredForQuiz(quizid);
                    $("#QuizzesDiv").append("<div class=\"col-md-3 col-sm-3 col-xs-3\" style=\"border: 1px dashed gray;margin:10px;-webkit-box-shadow: 3px 3px 5px 6px #ccc;-moz-box-shadow: 3px 3px 5px 6px #ccc;box-shadow: 3px 3px 5px 6px #ccc;\"><b>Quiz Name</b>:" + title + "<br/><b>Description</b>:" + description + "<br><b>Start Date:</b>" + startDate + "<br/><a id=\"Register_" + quizid + "\" href =javascript:OpenRegisterationDialog(\"" + quizid + "\");>Register<a>" + startQuizLink + "</div>");
                }
            }
        });
    }

    function IsUserRegisteredForQuiz(quizid) {
        var userid = '@User.Identity.GetUserId()';
        $.ajax({
            url: "https://multiplayerquizapi20190428125331.azurewebsites.net/api/Userquiz/getuserquizzes/" + userid,
            type: 'GET',
            dataType: 'json', // added data type
            success: function (res) {
                for (quiz in res) {
                    if (quizid == res[quiz].Id) {
                        $("#Start_" + quizid).html("<a href=\"/quiz/index/" + userid + "?quizId=" + quizid + "\">Start</a>");
                        $("#Register_" + quizid).toggle();
                    }
                }
            }
        });
    }

    function OpenRegisterationDialog(quizid) {
        var userid = '@User.Identity.GetUserId()';
        if (userid == "") {
            alert("Please login to register for this quiz.");
            return;
        }

        $.ajax({
            url: "https://multiplayerquizapi20190428125331.azurewebsites.net/api/Userquiz/registerquiz/" + userid + "/" + quizid,
            type: 'POST',
            dataType: 'json', // added data type
            success: function (res) {
                alert("Registered successfully.");     
            },
            error: function (jqXHR, exception) {
                alert("You are already registered for the quiz.");
            }
        });
    }
</script>