
@{
    ViewBag.Title = "QuizView";
}


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Panel Heading</div>
            <div class="panel-body">
                <ul>
                    <li>op1</li>
                    <li>op2</li>
                    <li>op3</li>
                    <li>op4</li>
                </ul>

            </div>
        </div>
    </div>

</div>

